<footer class="footer footer-static footer-light navbar-border">
	<div class="col-md-12">
		<div class="col-md-4">
			<strong>Adresse:</strong> OMRANE SUPERIEUR TUNIS
		</div>
		<div class="col-md-4"align="center">
			<strong>Tel:</strong> 26876589
		</div>
		<div class="col-md-4" align="right">
			<strong>Email:</strong> zohayeramine@gmail.com
		</div>
	</div>
	<div class="clearfix"></div>
	<br>
    <p class="clearfix text-muted text-sm-center mb-0 px-2">
        <span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2019 <a href="#" class="text-bold-800 grey darken-2">DADA SUCRE </a> </span>
        <span class="float-md-right d-xs-block d-md-inline-block">
		Powered by ZOHAYER
		<a href="#" target="_blanc"><img alt="" src="" /></a>
		</span>
    </p>
</footer> 