<!-- main menu-->
<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <!-- main menu header-->
    {#<div class="main-menu-header">#}
        {#<input type="text" placeholder="Search" class="menu-search form-control round"/>#}
    {#</div>#}
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

            {% if is_granted('ROLE_ADMIN') %}
                {% include(':elements/menus:super_admin.html.twig') %}
            {% elseif is_granted('ROLE_USER') %}
                {% include(':elements/menus:sales.html.twig') %}
            {% endif %}

        </ul>
    </div>
    <!-- /main menu content-->
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
</div>
<!-- / main menu-->